
.cache/

.config/

.recently-used

.local/

aula09_tarefa/ClarionApp/.vs/

aula09_tarefa/ClarionApp/ClarionApp.sln

aula09_tarefa/ClarionApp/bin/Release/

aula09_tarefa/ClarionApp/obj/Debug/

aula09_tarefa/ClarionApp/obj/x86/Release/
